# {{ ansible_managed }}
deb https://nginx.org/packages/{% if nginx_repo_branch == 'mainline' %}mainline/{% endif %}{{ ansible_distribution|lower }}/ {{ ansible_distribution_release|lower }} nginx
deb-src https://nginx.org/packages/{% if nginx_repo_branch == 'mainline' %}mainline/{% endif %}{{ ansible_distribution|lower }}/ {{ansible_distribution_release|lower }} nginx
